services:
  postgres:
    image: postgres:13-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '127.0.0.1:5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - backend

  rabbitmq:
    image: rabbitmq:4.2.2-management-alpine
    container_name: rabbitmq
    restart: always
    ports:
      - '127.0.0.1:5672:5672'
      - '127.0.0.1:15672:15672'
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq/mnesia
    networks:
      - backend

  api:
    build: .
    container_name: zencash-api
    restart: always
    ports:
      - '127.0.0.1:3000:3000'
    env_file:
      - .env
    depends_on:
      - postgres
      - rabbitmq
    networks:
      - backend

volumes:
  postgres-data:
  rabbitmq-data:

networks:
  backend:
