services:
  postgres:
    image: postgres:13-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_SHARED_BUFFERS: 128MB
      POSTGRES_MAX_CONNECTIONS: 50
    ports:
      - '127.0.0.1:5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - backend

  rabbitmq:
    image: rabbitmq:4.2.2-alpine
    container_name: rabbitmq
    restart: always
    ports:
      - '127.0.0.1:5672:5672'
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    healthcheck:
      test: ['CMD', 'rabbitmq-diagnostics', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq/mnesia
    networks:
      - backend

  api:
    build: .
    container_name: zentavo-api
    restart: always
    ports:
      - '127.0.0.1:3001:3001'
    env_file:
      - .env
    environment:
      NODE_OPTIONS: '--max-old-space-size=512'
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_started
    networks:
      - backend

volumes:
  postgres-data:
  rabbitmq-data:

networks:
  backend:
